@{
  Layout = "_Layout";
}

<h1>Word Counter</h1>
<h3>Welcome!</h3>
  <p>Please click <a href='/wordcount/new'>here</a> to enter a sentence and check how many times the same word was used in the sentence.
  </p>
  <a href='/wordcount'></a>
